body {
    font-family: Tahoma, sans-serif;
}

// .container {
//     width: 63%;
// }
.brand-red {
    color: #ff0000 !important;
}
.brand-yellow {
    color: #ffcc00 !important;
}
.brand-purple {
    color: #280033 !important;
}