<div style="color:#280033">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="d-flex flex-grow-1">
                <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
                <a class="navbar-brand" href="#">
                  <img src="assets/images/logo-happy-stocks.png" class="img-fluid" width="230" alt="" loading="lazy">
                </a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 mx-3 menu-item">Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 mx-3 menu-item">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link m-2 mx-3 menu-item">Equity</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link m-2 mx-3 menu-item">Support</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link m-2 mx-3 menu-item" [routerLink]="['/account/login']">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-md">
        <!-- internship -->
        <div class="pt-2 pb-4" style="position: relative;">
            <img src="assets/images/Internship.jpg" alt="" class="img-fluid" width="100%"/>
            <a href="https://forms.gle/kcXkpR5puE8xc1uc8" class="intern-apply" target="_blank">
                <img src="assets/images/btn-intern-apply.png" class="img-fluid" />
            </a>
        </div>
        <!-- <div class="p-4 quote-section">
            <blockquote class="blockquote">
                <p class="mb-0 text-left">"Regulate your mind. DO not worry excessively about the future.If you have done everything that has to be done, the future will take care of itself."</p>
                <p class="blockquote-footer text-right brand-yellow"><cite title="Grand Master Choa Kok Sui">Grand Master Choa Kok Sui</cite></p>
            </blockquote>
        </div> -->
        <div class="row my-4">
            <div class="col-md-6 d-block d-md-none">
                <img src="assets/images/doodle1.png" alt="" width="100%"/>
            </div>
            <div class="col-md-6">
                <h1>Relax and Earn</h1>
                <h1>Just allow <span class="brand-red font-arial-bold">A</span><span class="brand-yellow font-arial-bold">I</span> to run</h1>
                <p class="lead py-2">Now anyone can trade and earn some extra money through Happy Stocks' Raize - an AI base multilingual alogorithmic trading solution provider.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block my-2">Trade with Raize</button>
                <ul class="text-left px-0 py-2">
                    <li>
                        <img src="assets/images/logo-Raize.png" alt="" width="15" />
                        <span class="px-2">No need to have trading knowledge</span>
                    </li>
                    <li>
                        <img src="assets/images/logo-Raize.png" alt="" width="15" />
                        <span class="px-2">Free unlimited backtesting</span>
                    </li>
                    <li>
                        <img src="assets/images/logo-Raize.png" alt="" width="15" />
                        <span class="px-2">Subscription packages charges Max. &#8377;25/day only</span>
                    </li>
                </ul>
            </div>
          <div class="col-md-6 d-none d-md-flex doodle-placeholder">
            <img src="assets/images/doodle1.png" alt="" width="150%"/>
          </div>
        </div>
    
        <div class="row my-4">
            <div class="col-md-6 d-none d-md-flex doodle-placeholder">
                <img src="assets/images/doodle2.png" alt="" width="150%"/>
            </div>
            <div class="col-md-6 d-block d-md-none">
                <img src="assets/images/doodle2.png" alt="" width="100%"/>
            </div>
            <div class="col-md-6">
                <h1>Want to learn Trading?</h1>
                <h1>Switch to <span class="brand-red font-arial-bold">Trad</span><span class="brand-yellow font-arial-bold">Ed</span> training</h1>
                <p class="lead py-2">Start learning about trading today through our interactive video tutorial platform solely designed to train everyone about equity and share market trading from scratch level.</p>
                <button type="button" class="btn btn-primary btn-lg btn-block my-2">Learn with <span class="brand-red">Trad</span><span class="brand-yellow">Ed</span></button>
                <ul class="text-left px-0 py-2">
                    <li>
                        <img src="assets/images/logo-TradEd.png" alt="" width="15" />
                        <span class="px-2">Free learning platform.</span>
                    </li>
                    <li>
                        <img src="assets/images/logo-TradEd.png" alt="" width="15" />
                        <span class="px-2">Contents available in regional languages also.</span>
                    </li>
                    <li>
                        <img src="assets/images/logo-TradEd.png" alt="" width="15" />
                        <span class="px-2">Video Tutorials are also available.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid center-banner">
        <div class="row">
            <div class="offset-sm-2 col-sm-4 p-4">
                <p class="text-small">
                    Happy Stocks is introducing India's first AI based auto trading solution provider along with free multilingual stock market learning platform. 
                </p>
            </div>
            <div class="col-sm-6 center-position">
                <img src="assets/images/logo-happy-stocks-white.png" class="img-fluid" width="20%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 d-block d-md-none">
                <img src="assets/images/app.png" alt="" class="img-fluid" width="100%"/>
            </div>
            <div class="col-md-6">
                <h1>Let <span class="brand-red font-arial-bold">A</span><span class="brand-yellow font-arial-bold">I</span> Trade for <br> you on the Go</h1>
                <p class="lead py-2">Have an AI in your pocket everytime for equity trading. Let AI do the earning for you while you do the other things.</p>
                <div>
                    <img src="assets/images/play-store.png" alt="" class="img-fluid" width="30%"/>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Join <span class="brand-yellow">BETA</span> Testing Program</button>
            </div>
          <div class="col-md-6 d-none d-md-flex center-position">
            <img src="assets/images/app.png" alt="" class="img-fluid" width="50%" />
          </div>
        </div>
        <div class="row dual-account-section">
            <div class="col-md-6 center-position" style="position: relative;">
                <div class="d-inline p-2 position-absolute">
                    <h1>48.2%</h1>
                </div>
                <div class="d-inline p-2 position-absolute">
                    <img src="assets/images/green-up-arrow.png" alt="" width="8%" class="img-fluid" />
                </div>
                <!-- <span class="position-absolute"><h1>48.2%</h1></span> -->
                <!-- <img src="assets/images/green-up-arrow.png" alt="" width="8%" class="img-fluid" /> -->
                <img src="assets/images/pie.png" alt="" width="70%" class="img-fluid" />
            </div>
            <div class="col-md-6 text-right">
                <h1>Do you want to stay ahead?</h1>
                <p class="lead py-2 mb-2 border-bottom">Algorithmic trading in India across the cash derivatives market as a percentage of total turnover has increased upto 49.8% in eight years. 48.2% of the equity derivatives market was driven by algo trading, showed NSE data.</p>
                <p class="text-left">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    <a href="#" class="link-get-strated px-2 brand-purple">Get Started</a>
                </p>
            </div>
        </div>
        <div class="row my-4 doodle-placeholder">
            <div class="col-md-5">
                <h1>One account, two benefits.</h1>
                <p class="lead py-2">Create a free account today to get benefits of AI trading and stock market learning simultaneously.</p>
                <span class="px-2">
                    <img src="assets/images/logo-Raize.png" alt="" width="60" />
                </span>
                <span class="px-2">
                    <img src="assets/images/logo-TradEd.png" alt="" width="60" />
                </span>
            </div>
            <div class="col-md-3 center-position">
                <img src="assets/images/doodle3.png" alt="" width="50%" class="img-fluid" />
            </div>
            <div class="col-md-4 text-center">
                <p class="lead py-2">Join Raize and TradEd for free</p>
                <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
            </div>
        </div>
        <div class="row my-4 center-position" style="padding: 50px 0">
            <div class="col-md-6 border-right">
                <img src="assets/images/Raize.png" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <img src="assets/images/TradEd.png" width="95%" class="img-fluid" />
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row py-4">
                <div class="col-md-6 text-left">
                    <img src="assets/images/logo-happy-stocks.png" class="img-fluid" width="175" alt="" loading="lazy">
                </div>
                <div class="col-md-6 text-right">
                    <img src="assets/images/GMCKS-small.png" class="img-fluid" width="100" alt="" loading="lazy">
                </div>
            </div>
            <div class="row py-4 footer-links">
                <div class="col-sm-4 col-md-2">
                    <h6>Company</h6>
                    <p><a href="#">About Us</a></p>
                    <p><a href="#">Teams</a></p>
                    <p><a href="#">Services</a></p>
                    <p><a href="#">Products</a></p>
                    <p><a href="#">Pricing</a></p>
                    <p><a href="#">Blogs</a></p>
                    <p><a href="#">Careers</a></p>
                    <p><a href="#">Contact Us</a></p>
                </div>
                <div class="col-sm-4 col-md-2">
                    <section>
                        <h6>Raize</h6>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Login</a></p>
                        <p><a href="#">Sign Up</a></p>
                    </section>
                    <section class="pt-4">
                        <h6>TradEd</h6>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Login</a></p>
                        <p><a href="#">Sign Up</a></p>
                    </section>
                </div>
                <div class="col-sm-4 col-md-2">
                    <h6>Legal</h6>
                    <p><a href="#">Disclaimer</a></p>
                    <p><a href="#">Terms of use</a></p>
                    <p><a href="#">Privacy policy</a></p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h6>Attention:</h6>
                    <div class="footer-attention">
                        Happy Stock’s Raize is an investment tool that provides services and functions for you to 
research, build, and test investment strategies and trading algorithms. We provide no investment, financial, 
regulatory, tax or legal advice. The back test results indicate performance based on past results only and are 
meant only to provide a hypothetical illustration of mathematical principles using candlestick charts and patterns. 
HYPOTHETICAL ILLUSTRATIONS OR SIMULATED TRADING DO NOT REPRESENT ACTUAL TRADING.Past results 
of backtest are not indicative of future performance and these results should be viewed as hypothetical. In reality, 
the results do not represent the track record of the methodology originator or subscribers. This also means there 
is no guarantee that one applying these methodologies would have the same results as posted. Since trading 
stock successfully depends on many elements including but not limited to a trading methodology and trader's on 
psychology, our website does not make any representation whatsoever that the above mentioned trading systems 
might be or is suitable or profitable for you.In addition, it's important to understand and accept that there can be 
data outages and server failures. This can lead to greater risk. stock markets also do not always guarantee exact 
fills. Periods of fast markets can cause greater degrees of slippage and less than ideal fills. There can be no 
guarantee that your account will always be able to enter and exit the programs ideal entry or exit point.
<br><br>
Hypothetical performance results have many inherent limitations, some of which are described below. No 
representation is being made that any stock trading account will or is likely to achieve profits or losses similar to 
those shown, in fact, there are frequently sharp differences between hypothetical stock trading performance 
results and the actual results subsequently achieved by any particular stock trading program.One of the limitations 
of hypothetical stock trading performance results is that they are generally prepared with the benefit of hindsight. 
In addition, hypothetical stock trading does not involve financial risk, and no hypothetical stock trading record can 
completely account for the impact of financial risk in actual stock trading. For example, the ability to withstand 
losses or to adhere to a particular stock trading program in spite of trading losses are material points which can 
also adversely affect actual stock trading results. There are numerous other factors related to the stock markets in 
general or to the implementation of any specific stock trading program which cannot be fully accounted for in the 
preparation of hypothetical stock trading performance results, and all of which can adversely affect actual stock 
trading results.
                    </div>
                </div>
            </div>
            <div class="row py-4 border-bottom">
                <div class="col-sm-12 col-md-6 text-left">
                    <h6>Subscribe to our newsletter</h6>
                    <div>
                        <span class="mr-2">
                            <img src="assets/images/Mail.png" alt="" width="35" class="img-fluid" />
                        </span>
                        <span>
                            <input type="text" />
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <h6>Find us at</h6>
                    <a href="https://www.facebook.com/HappyStocksTechnologies" target="_blank" class="px-2">
                        <img src="assets/images/Facebook.png" alt="" width="32" class="img-fluid"/>
                    </a>
                    <a href="#" target="_blank" class="px-2">
                        <img src="assets/images/Instagram.png" alt="" width="35" class="img-fluid"/>
                    </a>
                    <a href="https://www.linkedin.com/company/happystocks-technologies-pvt-ltd" target="_blank" class="px-2">
                        <img src="assets/images/LinkedIn.png" alt="" width="40" class="img-fluid"/>
                    </a>
                    <a href="#" target="_blank" class="pb-2">
                        <img src="assets/images/Twiter.png" alt="" width="38" class="img-fluid"/>
                    </a>
                </div>
            </div>
            <div class="row py-4">
                <div class="col-md-6 text-left pt-2">
                    <h6>HAPPYSTOCKS TECHNOLOGY PRIVATE LIMITED</h6>
                </div>
                <div class="col-md-6 text-right">
                    <p class="my-0">Made with love in <span class="brand-yellow">INDIA</span></p>
                    <p class="my-0">copyright ©2020</p>
                </div>
            </div>
        </div>
    </footer>
</div>
